@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Inter", sans-serif;
}
.star-color{
    color:rgb(255,164,28);

}

.Login-bg{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
    opacity:0.8;
}
