@tailwind base;
@tailwind components;
@tailwind utilities;


.star-color{
    color:rgb(255,164,28);
}

.Login-bg{
    /* background-image: url("./assets/Eccom3.png"); */
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
    opacity:0.8;
}
/* .back-to-products-link {
    @apply text-blue-500  font-medium hover:text-blue-700 transition-colors ;
    @apply inline-block py-2 px-4 rounded-full;
    @apply border border-transparent hover:border-blue-500;
    @apply mt-4; /* Optional, adds spacing from the top */
  /* }  */